.tile{
    width : 30px;
    height: 30px;
    background-color: gray;   
    border: 1px solid black;
    color:white;
    font-size: 20px;
}

.subArray{
  display: flex;  
}

.flagged{
    background-color: red;
}


.bombed{
    background-color: black;
}

.explored{
    background-color: blue;
}

.modal{
    position:absolute;
    height: 100px;
    width:100px;
    background-color: green;
    display: none;    
}
.modal.modal.is-active{
    display:block;
}

